 <!--Form to create an item -->
<div class="field">
	<%= gallery_item.label :item_title %><br />
	<%= gallery_item.text_field :title %>
</div>
<div class="field">
	<%= gallery_item.label :item_image %><br />
	<%= gallery_item.text_field :image %>
</div>
<div class="field">
	<%= gallery_item.submit%>
</div>
