<p id="notice"><%= notice %></p>

<!--Below goes photo gallery details!-->
<table border="1" bordercolor="#E6E6FA">
	<tr style="text-align:centre;">
		<th style="width: 150px;">Title</th>
		<th style="width: 150px;">Description</th>
		<th style="width: 150px;">Items</th>
	</tr>
	  <tr>
	    <td><%= @photo_gallery.title %></td>
	    <td><%= @photo_gallery.description %></td>
		<td>
			<ul>
			<%@photo_gallery.photo_items.each do |item|%>
				<li><%= item.title%></li>
			<%end%>
			</ul>
		</td>
	  </tr>
</table>

<%= link_to 'Edit', edit_photo_gallery_path(@photo_gallery) %> |
<%= link_to 'Back', photo_galleries_path %>
